*{
    margin: 0;
    padding: 0;
}

:root{
    --principal: #fff7d5;
    --header: #7c0406;
    --detalhe: #4f6820;
    --escrita1: #000000;
    --escrita2: #ffffff;
   }
body {
    font-family: Arial, sans-serif;
    background-color: var(--principal); 
    text-align: center;
}

header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--escrita2);
        padding: 10px;
        background-color: var(--header);
      
    }

